h1, h2, h3, h4, h5{
	font-family: "Source Serif 4", serif;
}

h1 {
	color: #361766;
}

p, li {
	font-family: "Balsamiq Sans", sans-serif;
}

p{
	color: #662115;
}

li{ 
	color: #155066;
}

.shawn-mendes, .kim-taehyung, .daniel-seavey {
	width: 300px;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
	width: 50%;
  overflow: auto;
	border-radius: 40px;
	background-color: #E0FFEC;
}

form hr {
  width: 15%;
}
