h1, h2, th{
	font-family: "Source Serif 4", serif;
}

p, li, td{
	font-family: "Balsamiq Sans", sans-serif;
}

table, td, th, tr {
  border: 1px solid black;
}

.shawn-mendes, .kim-taehyung, .daniel-seavey {
	width: 300px;
}
