h1, h2, h3, h4, h5{
	font-family: "Source Serif 4", serif;
}

p, li {
	font-family: "Balsamiq Sans", sans-serif;
}

.shawn-mendes, .kim-taehyung, .daniel-seavey {
	width: 300px;
}

form {
  text-align: center;
  line-height: 30px;
  height: 80%;
  overflow: auto;
	border-radius: 20px;
	background-color: #E0FFEC;
}

form hr {
  width: 15%;
}
