/*headers*/
/* chiron-hei-hk-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Chiron Hei HK';
  font-style: normal;
  font-weight: 400;
  src: url("asg11/fonts/chiron-hei-hk-v3-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*paragraphs*/
/* englebert-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Englebert';
  font-style: normal;
  font-weight: 400;
  src: url("asg11/fonts/englebert-v24-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {font-size: 16px;}

body {
  font-family: 'Englebert';
  font-weight: false;
  line-height: 1.65;
}

h1, h2 {
  font-family: 'Chiron Hei HK';
}

p {
  font-size: 1em;
	font-family: 'Englebert';
}
