/* styles.css */

h1, h2{
	font-family: "Cabin Sketch", sans-serif;
}

h1{
	font-size: 40px;
}

p{
	font-size: 36px;
}

li{
	font-size: 22px;
}

p, li{
	font-family: "Caveat", cursive;
}

.mitzi{
	width: 300px;
}
