/* styles.css */
body{
	background-color: #E5F2FF;
}
h1, h2{
	font-family: "Cabin Sketch", sans-serif;
}

h1{
	font-size: 60px;
	color: #285378;
	border-radius: 40px;
}

h2{
	color: #457ABF;
}

p{
	font-size: 36px;
	color: #5587B5;
}

li{
	font-size: 22px;
	color: #4D6580;
}

p, li{
	font-family: "Caveat", cursive;
}

.mitzi{
	width: 400px;
}
