/* styles.css */
body{
	background-color: #E5F2FF;
}
h1, h2{
	font-family: "Cabin Sketch", sans-serif;
}

h1{
	font-size: 60px;
	color: #285378;
	border-radius: 60px;
	background-color: #C1CEDE;
	  line-height: 30px;
  height: 80%;
	width: 22%;
	padding: 20px;
  overflow: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2{
	color: #457ABF;
}

p{
	font-size: 26px;
	color: #5587B5;
}

li{
	font-size: 22px;
	color: #4D6580;
}

p, li{
	font-family: "Caveat", cursive;
}

.mitzi{
	width: 400px;
}
