/* headers */
/* ledger-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  src: url("asg12/fonts/ledger-v17-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* body */
/* bellefair-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Bellefair';
  font-style: normal;
  font-weight: 400;
  src: url("asg12/fonts/bellefair-v15-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
font-size: clamp(14px, 1.2vw, 18px);
}

body {
font-family: 'Bellefair';
line-height: 1.65;
color: 
margin: 0;
background: url("/asg12/pictures/") repeat;
}

h1 {
font-family: 'Ledger';
font-size: clamp(2rem, 4vw, 3.5rem); /*fluid heading */
text-align: center;
color: ;
margin-top: 20px;
}

h2 {
  font-family: 'Ledger';
  font-size: clamp(1.2rem, 2vw, 1.8rem);
  color: ;
  margin-bottom: .5rem;
}

p {
  font-family: 'Bellefair';
  font-size: 1em;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
