/* lexend-regular - latin for headers, sans-serif */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 400;
  src: url('/asg7/fonts/lexend-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* antic-slab-regular - latin for body, serif*/
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Antic Slab';
  font-style: normal;
  font-weight: 400;
  src: url('/asg7/fonts/antic-slab-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
	background-image: url("/asg7/asg7-bg.png");
    background-repeat: repeat;
}
h1{
  font-family: 'Lexend', sans-serif;
  margin-bottom: 5px;
}

h1 {
  display: inline-block;
  background-color: #CEF5D2;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 36px;
  font-weight: 700;
  max-width: 760px;
	margin-top: 20px;
	margin-left: 40%;
	margin-right: auto;
  text-align: center;
	border: 2px solid rgb(52,112,61);
}

h2{
	font-family: 'Lexend', sans-serif;
  background-color: #DFF2E1;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 30px;
  font-weight: normal;
  max-width: 760px;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: auto;
  text-align: left;
	border-top: 2px dotted rgb(52,112,61);
	border-bottom: 2px dotted rgb(52,112,61);
	overflow: hidden;
}

h3{
	font-family: 'Lexend', sans-serif;
	display: inline-block;
  background-color: #C7F0CF;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: normal;
  max-width: 760px;
	margin-top: 20px;
	margin-left: 10%;
	margin-right: auto;
  text-align: left;
}

.bolded{
	margin-bottom: 0;
}

p{
  font-family: 'Antic Slab', serif;
  margin-top: 0;
margin-left: 15%;
	margin-right: 15%;
	font-size: 15.5px;
}

.wireframes{
	display: grid;
	 grid-template-columns: repeat(2, 1fr);
  justify-content: center;  
  gap: 20px;  
  margin-left: 10%;
margin-bottom: 10px;
  max-width: 400px;
  height: auto;
}

