@font-face{
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Edu QLD Hand';
  font-style: normal;
  font-weight: 500;
  src: url("/asg7/fonts/edu-qld-hand-v3-latin-500.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face{
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Tamil';
  font-style: normal;
  font-weight: 400;
  src: url("/asg7/fonts/anek-tamil-v18-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

h1, h2{
  font-family: 'Edu QLD Hand', handwriting;
  margin-bottom: 5px;
}

p{
  font-family: 'Anek Tamil', sans-serif;
  margin-top: 0;
}

.captain-america{
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.black-widow{
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.sidebar {
  background-color: #FFDBDB;
  padding: 15px;
  border-radius: 10px;
  width: 250px;
  float: right;
  margin: 20px;
}

.sidebar h2 {
  font-size: 1.2em;
  margin-bottom: 8px;
}

