@font-face{
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Edu QLD Hand';
  font-style: normal;
  font-weight: 500;
  src: url("/asg7/fonts/edu-qld-hand-v3-latin-500.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face{
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Tamil';
  font-style: normal;
  font-weight: 400;
  src: url("/asg7/fonts/anek-tamil-v18-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
	background-color: #D3D9F0;
}

h1, h2{
  font-family: 'Edu QLD Hand', handwriting;
  margin-bottom: 5px;
}

h1{
	font-size: 2em;
}

p{
  font-family: 'Anek Tamil', sans-serif;
  margin-top: 0;
}

.captain-america{
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.black-widow{
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
	float: center;
}

.sidebar h2 {
  font-size: 1.3em;
  margin-bottom: 8px;
}

.campaign {
  display: flex;                /* puts main and sidebar in one row */
  justify-content: space-between;
  align-items: flex-start;      /* keeps them aligned at the top */
  gap: 20px;                    /* adds space between them */
  max-width: 1000px;            /* keeps content from going too wide */
  margin: 0 auto;               /* centers the whole section */
  padding: 20px;
}

.main {
  flex: 3;                      /* main section takes more space */
  max-width: 650px;  
	line-height: 1.6;
}

.sidebar {
  flex: 1;                      /* sidebar takes less space */
  background-color: #FFDBDB;
  padding: 15px;
  border-radius: 10px;
 width: 250px;
  float: right; 
  margin: 20px;
}
