@font-face{
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Edu QLD Hand';
  font-style: normal;
  font-weight: 500;
  src: url("/asg7/fonts/edu-qld-hand-v3-latin-500.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face{
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Anek Tamil';
  font-style: normal;
  font-weight: 400;
  src: url("/asg7/fonts/anek-tamil-v18-latin-regular.woff2") format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
	background-color: #D3D9F0;
	margin: 0;
  	padding: 0;
}

h1, h2{
  font-family: 'Edu QLD Hand', handwriting;
  margin-bottom: 5px;
}

h1 {
  display: inline-block;        /* makes the background wrap around the text */
  background-color: #f0f0f0;    /* light gray background */
  padding: 10px 20px;           /* space around the text */
  border-radius: 8px;           
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  margin: 20px auto;            
}

p{
  font-family: 'Anek Tamil', sans-serif;
  margin-top: 0;
}

.captain-america{
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.black-widow{
  max-width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
	float: center;
}

.sidebar h2 {
  font-size: 1.3em;
  margin-bottom: 8px;
}

.campaign{
  display: flex;                
  justify-content: space-between;
  align-items: flex-start;      
  gap: 20px;                    
  max-width: 1000px;            
  margin: 0 auto;               
  padding: 20px;
}

.main{
  flex: 3;                      
  max-width: 650px;  
	line-height: 1.6;
}

.sidebar {
  flex: 1.5;                      
  background-color: #FFDBDB;
  padding: 15px;
  border-radius: 10px;
 width: 250px;
  float: right; 
  margin: 20px;
}

.campaign,
.main {
  max-width: 1000px;      
  margin: 0 auto;           
  padding: 10px 20px;       
}
