/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
       

 Insert all your glorious CSS styles below! */
body{
      background-image: url("/asg6/images/moroccan-flower.png");
      background-repeat: repeat;
      padding-left: 20px;
      padding-right: 20px;
}

h1, h2, h3{
      font-family: "Bitter", serif;
	margin-bottom: 10px;
}

h2{
      border-radius: 15px;
	background-color: #FFFFFF;
	padding: 2px, 10px;
	display: inline;
}

p {
      font-family: "Winky Rough", sans-serif;
}

.yellow-hat {
  float: right;
  margin-left: 10px;
margin-bottom: 10px;
  max-width: 200px;
  height: auto;

